{% extends './public/clue_layout.njk' %}



{% block main %}
<section class="main">
    <a href="/cli" class="main-title">返回线索列表&nbsp;&nbsp;>></a>

    <div class="forms-wrap">

        <form action="" class="form-track">

            <ul class="tracklist">
                {% for log in logs %}
                <li>
                    <p class="time">{{log.created_time.replace('T',' ').replace('.000Z','')}}</p>
                    <p class="track-content">{{log.content}}</p>
                </li>
                {% endfor %}

            </ul>

            <div class="input-field note">
                <textarea placeholder="输入跟踪记录" id="note" class="materialize-textarea"></textarea>
                <label for="note">添加记录：</label>
            </div>

            <a class="waves-effect waves-light btn trackaddBtn">添加</a>
        </form>

        <form action="" style="visibility: visible" class="form-info">
            <p>客户名称：{{name}}</p>
            <p>联系电话：{{phone}}</p>
            <p>线索来源：{{utm}}</p>
            <p>创建时间：{{created_time.replace('T',' ').replace('.000Z','')}}</p>

            <label class="userState">用户状态</label>
            <select class="browser-default userstate-select">
                <option value="" disabled>选择用户状态</option>
                {% if status == "意向缺缺" %}
                <option value="1" selected>意向缺缺</option>
                <option value="2">意向一般</option>
                <option value="3">很有意向</option>
                <option value="4">完成销售</option>
                {% elif status == "意向一般" %}
                <option value="1">意向缺缺</option>
                <option value="2" selected>意向一般</option>
                <option value="3">很有意向</option>
                <option value="4">完成销售</option>
                {% elif status == "很有意向" %}
                <option value="1">意向缺缺</option>
                <option value="2">意向一般</option>
                <option value="3" selected>很有意向</option>
                <option value="4">完成销售</option>
                {% elif status == "完成销售" %}
                <option value="1">意向缺缺</option>
                <option value="2">意向一般</option>
                <option value="3">很有意向</option>
                <option value="4" selected>完成销售</option>
                {% endif %}
            </select>

            <label class="saler">当前分配销售</label>
            {% if permission%}
            <select class="browser-default saler-select">
                {% if saler==undefined %}
                    <option value="" disabled selected>选择销售</option>
                    {% for showsaler in salersList %}
                        <option value="{{showsaler.id}}">{{showsaler.name}}</option>
                    {% endfor %}
                {% else %}
                    <option value="" disabled>选择销售</option>
                    {% for showsaler in salersList %}
                        {% if showsaler.name === saler %}
                            <option value="{{showsaler.id}}" selected>{{showsaler.name}}</option>
                        {% else %}
                            <option value="{{showsaler.id}}">{{showsaler.name}}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </select>
            {% else %}
            <select class="browser-default saler-select" disabled>
                {% if saler==undefined %}
                <option value="" disabled selected>选择销售</option>
                {% for showsaler in salersList %}
                <option value="{{showsaler.id}}">{{showsaler.name}}</option>
                {% endfor %}
                {% else %}
                <option value="" disabled>选择销售</option>
                {% for showsaler in salersList %}
                {% if showsaler==saler %}
                <option value="{{showsaler.id}}" selected>{{showsaler.name}}</option>
                {% else %}
                <option value="{{showsaler.id}}">{{showsaler.name}}</option>
                {% endif %}
                {% endfor %}
                {% endif %}

            </select>
            {% endif %}


            <div class="input-field remark">
                <textarea placeholder="输入备注" id="remark" class="materialize-textarea">{{remark}}</textarea>
                <label for="remark">备注</label>
            </div>

            <a class="waves-effect waves-light btn infoaddBtn">添加</a>
        </form>



    </div>

</section>

<script src="../dist/clueedit.js"></script>


{% endblock %}