{% extends './public/clue_layout.njk' %}



{% block main %}
<section class="main">
    <a href="#" class="main-title">线索管理</a>
    <table class="striped highlight centered cluetable">
        <thead>
        <tr>
            <th>姓名</th>
            <th>电话</th>
            <th>来源</th>
            <th>创建时间</th>
            <th>跟踪销售</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>

        <tbody>


        {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.utm}}</td>
            <td>{{item.created_time.replace('T',' ').replace('.000Z','')}}</td>
            <td>{{item.saler}}</td>
            <td>{{item.status}}</td>
            <td><a href="/ct?id={{item.id}}">跟踪</a></td>
        </tr>
        {% else %}

        {% endfor %}



        </tbody>
    </table>
</section>

{% endblock %}