{% block css %}
<link rel="stylesheet" href="/css/header.css" />
{% endblock %}

<header>
    <img src="/img/benzlogo.png" alt="benzlogo">
    <div class="logotxt">
        <p>Mercedes-Benz</p>
        <span>The best or nothing.</span>
    </div>
</header>