{% extends './public/layout.njk' %}

{% block body %}
{% block css %}
<link rel="stylesheet" href="/public/css/landing.css" />
{% endblock %}

<div class="appoint-title">
    <hr>
    <p>预约试驾</p>
    <hr>
</div>

<main>
    <section class="left">
        <p class="form-info">欢迎在线预约试驾。只需填写姓名及手机号，我们会第一时间与您联系，安排试驾事宜。</p>
        <form action="">
            <div class="input-field inputName">
                <input id="name" type="text">
                <label for="name">你的姓名</label>
            </div>
            <div class="input-field inputNum">
                <input id="phonenumber" type="text">
                <label for="phonenumber">你的电话</label>
            </div>
            <a class="waves-effect waves-light btn raceBtn">马上抢占名额</a>
        </form>
    </section>

    <section class="right"></section>

</main>

<script src="../dist/appoint.js"></script>
{% endblock %}