{% extends 'layout.njk' %}

{% block body %}

{% block css %}
<link rel="stylesheet" href="/css/layout.css" />
{% endblock %}

<main>
    <aside>
        <a href="/uli" class="active">人员管理</a>
        <a href="/cli">线索管理</a>
    </aside>
    {% block main %}
    {% endblock %}
</main>

{% endblock %}